{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<section id="banner">
    <div class="content primary">
        <header>
            <h1>Invest in Cryptos<br />
            the right way</h1>
            <p>Calculate Capital Gains for your Cryptos</p>
        </header>
        <ul class="actions">
            <li><a href="#one" class="button big wide scrolly" style="color: white!important;">Learn More</a></li>
        </ul>
    </div>
    <div class="content secondary">
        <div class="inner">
            <div class="features">
                <section>
                    <span class="icon fa-diamond major"></span>
                    <h3>Learn</h3>
                    <p>Access a range of data to unlock insights and inform your decisions.</p>
                </section>
                <section>
                    <span class="icon fa-line-chart major"></span>
                    <h3>Invest</h3>
                    <p>Enjoy a seamless and streamlined investing experience.</p>
                </section>
                <section>
                    <span class="icon fa-camera-retro major"></span>
                    <h3>Comply</h3>
                    <p>Track your cryptocurrency holdings with confidence that you comply with tax obligations.</p>
                </section>
            </div>
        </div>
    </div>
    <video src="static/img/atom.mp4" muted autoplay loop playsinline></video>
</section>

<!-- Section -->
<section id="one" class="main">
    <header class="accent1">
        <h2>Trade CryptoCurrency With Confidence</h2>
        <p>Cryptocurrencies are an asset for capital gains tax purposes, but it is very hard to keep track of.  Have confidence that you are compliant with capital gains tax.  How can I trade cryptocurrency the right way?  KPMG brings you Cryptonite.</p>
    </header>
{#    <ul class="tabs">#}
{#        <li>#}
{#            <h3>Lorem <span class="extra">ipsum dolor</span></h3>#}
{#            <div class="spotlight">#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Magna accumsan</h4>#}
{#                        <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Erat aliquam</h4>#}
{#                        <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>#}
{#                    </li>#}
{#                </ul>#}
{#                <span class="image"><img src="static/img/pic01.jpg" alt="" /></span>#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Neque veroeros</h4>#}
{#                        <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Quis portitor</h4>#}
{#                        <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </li>#}
{#        <li>#}
{#            <h3>Adipsicing <span class="extra">feugiat</span></h3>#}
{#            <div class="spotlight">#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Erat aliquam</h4>#}
{#                        <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Neque veroeros</h4>#}
{#                        <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>#}
{#                    </li>#}
{#                </ul>#}
{#                <span class="image"><img src="static/img/pic02.jpg" alt="" /></span>#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Quis portitor</h4>#}
{#                        <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Magna accumsan</h4>#}
{#                        <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </li>#}
{#        <li>#}
{#            <h3>Magna <span class="extra">et accumsan</span></h3>#}
{#            <div class="spotlight">#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Neque veroeros</h4>#}
{#                        <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Quis portitor</h4>#}
{#                        <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>#}
{#                    </li>#}
{#                </ul>#}
{#                <span class="image"><img src="static/img/pic03.jpg" alt="" /></span>#}
{#                <ul>#}
{#                    <li>#}
{#                        <h4>Magna accumsan</h4>#}
{#                        <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <h4>Erat aliquam</h4>#}
{#                        <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
</section>

<!-- Section -->
<section id="two" class="main accent2" style="padding-bottom: 45px;">
    <header style="padding: 3rem 0 0 0;">
        <h2>Why KPMG?</h2>
{#        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue eu vulpu magna erat. Aliquam erat volutpat. Nam dui mi tincidunt magna accumsan.</p>#}
    </header>
    <div class="inner">
        <span class="image main"><img style= "background-color:white;" src="static/img/why_kpmg2.png" alt="" /></span>
    </div>
</section>

<!-- Section -->
<section id="three" class="main alt">
    <header style="padding: 2rem;">
        <h2>What We Offer</h2>
{#        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue eu vulpu magna erat. Aliquam erat volutpat. Nam dui mi tincidunt magna accumsan.</p>#}
    </header>
    <div class="inner">
        <div class="posts">
            <div>
                <article>
                    <a href="#" class="image"><img src="static/img/learn.jpg" alt="" /></a>
                    <div class="content">
                        <h3>Learn</h3>
                        <p>Technical tax legislation can be difficult to understand and calculate, even without the added complication of crypto currencies. </p>
{#                        <ul class="actions">#}
{#                            <li><a href="#" class="button">More</a></li>#}
{#                        </ul>#}
                    </div>
                </article>
{#                <article>#}
{#                    <div class="content">#}
{#                        <h3>Invest</h3>#}
{#                        <p>Integration with Coinbase to give you live rates and know your live tax exposure.</p>#}
{#                        <ul class="actions">#}
{#                            <li><a href="#" class="button">More</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </article>#}
            </div>
            <div>
{#                <article>#}
{#                    <div class="content">#}
{#                        <h3>Sed amet feugiat</h3>#}
{#                        <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Lorem nulla sed gravida non.</p>#}
{#                        <ul class="actions">#}
{#                            <li><a href="#" class="button">More</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </article>#}
                <article>
                    <a href="#" class="image"><img src="static/img/invest.jpg" alt="" /></a>
                    <div class="content">
                        <h3>Invest</h3>
                        <p>Integration with Coinbase and other well-known CryptoCurrency Exchanges to give you live rates and know your live tax exposure.</p>
{#                        <ul class="actions">#}
{#                            <li><a href="#" class="button">More</a></li>#}
{#                        </ul>#}
                    </div>
                </article>
            </div>
            <div>
                <article>
                    <a href="#" class="image"><img src="static/img/comply.jpg" alt="" /></a>
                    <div class="content">
                        <h3>Comply</h3>
                        <p>Harness the power of our tax and government knowledge to remain confident you are complying with this ever-changing area of tax law.</p>
{#                        <ul class="actions">#}
{#                            <li><a href="#" class="button">More</a></li>#}
{#                        </ul>#}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}